:root {
	--dark: #1b262c;
	--darkcolor: #0f4c75;
	--mediumcolor: #3282b8;
	--lightcolor: #bbe1fa;
}
* {
	text-decoration: none;
	margin: 0;
	padding: 0;
	border: none;
	color: white;
}
html {
	scroll-behavior: smooth;
	background-color: var(--dark);
}
#header {
	position: sticky;
	top: 0;
	z-index: 1000;
}

#navbar-container {
	display: grid;
	grid-template: 100%/1fr 1fr;
	background-color: black;
	animation: slide-down 1s ease-out 0.5s 1;
	padding-bottom: 10px;
	border-bottom: 1px solid var(--darkcolor);
}
@keyframes slide-down {
	from {
		transform: translateY(-100%);
	}
	to {
		transform: translateY(0);
	}
}
#logo {
	padding-left: 3rem;
	padding-top: 1rem;
}
#navbar-logo {
	border-radius: 50%;
	height: 3.5rem;
	border: 3px solid var(--darkcolor);
}
#nav-btns {
	display: flex;
	justify-content: space-around;
	align-items: center;
}
#nav-btns a {
	display: inline-block;
	font-family: "EB Garamond", sans-serif;
	font-size: 1.5rem;
	font-weight: lighter;
	text-decoration: none;
	color: white;
	transition: all 0.2s ease;
}
#nav-btns a:hover,
a:active {
	transform: scale(1.1);
	color: var(--mediumcolor);
	border-bottom: 5px solid var(--darkcolor);
}

#hero {
	height: 100vh;
	background-image: url(./assets/backgrounds/cambg.jpg);
	background-repeat: no-repeat;
	background-attachment: initial;
	background-size: cover;
}
#hero-container {
	transition: 2s ease;
	backdrop-filter: blur(8px);
	height: 100%;
	display: grid;
	grid-template: 1fr 1fr/ 1fr 1fr;
}
#hero-img {
	grid-row: span 2;
	display: flex;
	justify-content: center;
	align-items: center;
	animation: blur-in 2s linear 0s 1;
}
@keyframes blur-in {
	from {
		filter: blur(10px);
	}
	to {
		filter: blur(0px);
	}
}
@keyframes slide-right {
	from {
		transform: translateX(-100%);
	}
	to {
		transform: translateX(0);
	}
}

#hero-img img {
	border-radius: 50%;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
	width: 32rem;
	height: 30rem;
	transition: 0.5s ease;
}
#hero-img img:hover {
	transform: scale(1.1);
	box-shadow: 0 0 25px var(--mediumcolor);
}
#hero-text {
	display: flex;
	justify-content: start;
	align-items: end;
	font-size: 5rem;
	animation: slide-left 1s ease-out 0.5s 1;
	text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}
#hero-text2 {
	font-family: sans-serif;
	font-size: 1.5rem;
	display: flex;
	justify-content: start;
	align-items: start;
	animation: slide-left 1s ease-out 0.5s 1;
	text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}
#hero h1,
h2 {
	color: var(--lightcolor);
}
@keyframes slide-left {
	from {
		transform: translateX(100%);
	}
	to {
		transform: translateX(0);
	}
}
#bio {
	margin-top: 10rem;
	height: 100%;
	background-image: url(./assets/backgrounds/darkbg.jpg);
	background-repeat: no-repeat;
	background-attachment: initial;
	background-size: cover;
}
#bio-container {
	transition: 2s ease;
	backdrop-filter: blur(8px);
	height: 100%;
	width: 100%;
	display: grid;
	grid-template: 1fr/ 1fr 1fr 1fr;
}
#bio-container > div {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	border-left: 5px solid var(--dark);
	border-radius: 10%;
	transition: ease 0.5s;
}
#bio-container > div:hover {
	transform: scale(1.1);
}
#bio-container img {
	border-radius: 50%;
	margin-bottom: 3rem;
	box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
	border: 5px solid var(--dark);
}
#bio-container h2 {
	font-family: "EB Garamond";
	color: #0f4c75;
	font-size: 3.5rem;
	text-shadow: 2px 2px 8px rgba(0, 0, 0, 1);
	margin-bottom: 3rem;
	border: 2px solid var(--dark);
	border-radius: 10%;
	padding: 1rem 2rem;
}
#bio-container p {
	font-family: sans-serif;
	font-size: 1.2rem;
	padding: 0 5rem;
	text-shadow: 1px 1px 5px rgba(0, 0, 0, 1);
	letter-spacing: 0.1rem;
	margin-bottom: 3rem;
}
#projects > h2 {
	text-align: center;
	margin-top: 10rem;
	font-family: sans-serif;
	letter-spacing: 0.1rem;
	font-size: 3rem;
}
#projects > h3 {
	text-align: center;
	margin-top: 2rem;
	font-family: sans-serif;
	letter-spacing: 0.1rem;
	font-size: 1.5rem;
	padding-bottom: 2rem;
}
#projects-container {
	display: grid;
	grid-template: 1fr 1fr/1fr 1fr 1fr;
	gap: 3rem;
}
.project-card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
	border-radius: 10%;
	transition: ease 0.5s;
}
.project-card:hover {
	transform: scale(1.1);
}
.project-card img {
	margin-top: 2rem;
	border-radius: 10%;
}

.project-title {
	font-size: 2.5rem;
	padding: 1rem 0;
	color: white;
}
.project-card button {
	font-size: 1.5rem;
	border-radius: 15%;
	color: var(--lightcolor);
	background-color: var(--darkcolor);
	padding: 0.5rem 0.5rem;
	margin-top: 0.5rem;
	margin-bottom: 2rem;
	transition: ease 0.5s;
}
.project-card button:hover {
	cursor: pointer;
	transform: scale(1.1);
	box-shadow: 0 0 25px var(--mediumcolor);
}
.social-icons {
	font-size: 2rem;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-wrap: wrap;
	height: 100%;
	margin-top: 10rem;
	margin-bottom: 6rem;
}
.social-icons a {
	border-radius: 40%;
	padding: 1rem 1rem;
	background-color: var(--darkcolor);
	transition: ease 0.5s;
}
.social-icons a:hover {
	box-shadow: 0 0 25px var(--mediumcolor);
	transform: scale(1.1);
}
#form {
	display: flex;
	justify-content: center;
}
form button {
	font-size: 2rem;
	border-radius: 15%;
	color: var(--lightcolor);
	background-color: var(--darkcolor);
	padding: 1rem 1rem;
	margin-top: 0.5rem;
	margin-bottom: 2rem;
	transition: ease 0.5s;
}
form button:hover {
	cursor: pointer;
	box-shadow: 0 0 25px var(--mediumcolor);
	transform: scale(1.1);
}
.footer-text {
	color: var(--lightcolor);
	font-weight: lighter;
	font-size: 1rem;
	display: flex;
	justify-content: center;
	align-items: start;
	background-color: rgba(0, 0, 0, 0.5);
	height: 20rem;
	padding-top: 3rem;
	margin-top: 10rem;
}
